
@font-face{
    font-family:"Trade";
    src:url("../res/font/TradeGothicLTStd-BdCn20.otf");
}

/********************************** Login ****************************/
#login{
  background: #296fb7;
  color: white;
  font-weight: 300;
}

#login ::-webkit-input-placeholder {
  /* WebKit browsers */

  color: white;
  font-weight: 300;
}

#login :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
  font-weight: 300;
}

#login ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
  font-weight: 300;
}

#login :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
  font-weight: 300;
}

#login-button, #txt-email, #txt-pass
{
    font-family: 'Trade';

}
.wrapper {

  background: -webkit-linear-gradient(top left, #296fb7 0%, #296fb7 100%);
  background: linear-gradient(to bottom right, #296fb7 0%, #296fb7 100%);
  position: absolute;
  /*top: 50%;*/
  left: 0;
  width: 100%;
  height: 100%;
  /*margin-top: -250px;*/
  overflow: hidden;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}

.container {
  margin-top: 4em auto !important;
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;
  height: 100%;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
  margin-top: -50px;
}
#form {
  padding: 5px 0;
  position: relative;
  z-index: 2;
}
#form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 220px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
#form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#form input:focus {
  background-color: white;
  width: 260px;
  color: #296fb7;
}

#form input:-webkit-autofill {
    color: #fff !important;
}

#form input:visited
{
    background-color: white;
}

#form button {

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #296fb7;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
#form button a
{
    text-decoration: none;
}
#form button:hover {
  background-color: #e1e4e6;
}

#txt-cuenta
{
    font-family: 'Trade';
    font-size: 15px;
    margin-right: 15px;
}

#btn-registrar
{
    text-decoration: none;
    font-family: 'Trade';
    text-transform: uppercase;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;

  background-color: white;
  border: 0;
    padding: 10px 15px;
    color: #296fb7;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

#btn-registrar a
{
    text-decoration: none;
}
#btn-registrar:hover {
  background-color: #e1e4e6;
}
}


/************************************* PÁGINA DE INICIO ****************************/
#title-header img
{
    vertical-align: bottom;
}

#btn-cargar
{
    background: #8BC34A;
    color: #FFF;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-family: 'Trade';
    text-transform: uppercase;
    margin-bottom: 10px;
    box-shadow: 5px 3px 5px #CCC;
    cursor: pointer;
}

#btn-cargar img
{
    vertical-align: text-bottom;
    margin-right: 5px;
}

#btn-grafico
{
    margin-left: 20px;
    border: none;
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Trade';
    text-transform: uppercase;
    box-shadow: 3px 4px 3px #DDD;
    background: #009688;
    color: #FFF;
    cursor: pointer;
}

.btn-sub
{
    text-decoration: none !important;
    padding: 10px;
    background: #00695C;
    /*border-radius: 5px;*/
    font-family: "Trade";
    color: #FFF;
    width: 280px !important;
    border: none;
    font-size: 18px !important;
    text-shadow: none !important;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-secun
{
    vertical-align: bottom;
    margin-right: 8px;
}


#btn-grafico img
{
    vertical-align: top;
    margin-right: 10px;
}

.foot
{
    font-family: "Trade";
    font-size: 18px !important;
    text-shadow: none;
}

.text-head
{
    text-shadow: none;
    font-family: 'Trade';
    font-size: 25px !important;
    text-transform: uppercase;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    letter-spacing: 2px;
}

#text-head1
{
    letter-spacing: 0px !important;
}

/************************************* Pagina de Facturación ***********************/
#facturacion,#inicio,#cobranza
{
    background: #FFF;
}

#myselect,#myselect2,#myselect1,#myselect4,#myselect5
{
    margin-bottom: 10px;
    width: 160px;
    height: 30px;
    border: 1px solid #296fb7;
    font-family: 'Trade';
    font-size: 15px;
    background: #296FB7;
    opacity: 0.9;
    color: #FFF;
    text-shadow: none
}

.txt-slect
{
    margin-right: 10px;
    font-style: normal;
    font-family: 'Trade';
    font-size: 18px;
    margin-left: -10px;
}



#ver-grafico
{
    margin-top: 8px;
    margin-bottom: 8px;
    background: #5D83AA !important;
    padding: 10px;
    border: none;
    color: #FFF !important;
    font-family: "Trade" !important;
    text-transform: uppercase !important;
    font-size: 17px !important;
    text-shadow: none !important;
}

#ver-grafico img
{
    vertical-align: text-bottom;
    margin-right:  8px;
}

/* ------ tabla ------- */

#table1
{
    margin-top: 20px;
}


.google-visualization-table-tr-head
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+100,7db9e8+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 100%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 100%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    font-family: 'Trade';
    text-shadow: none;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}

.google-visualization-table-tr-even
{
    background: #167F92 !important;
    color: #FFF;
    font-family: 'Trade';
    font-size: 16px;
    text-shadow: none;
    text-align: center;
}

.google-visualization-table-tr-odd
{
    background: #FFF !important;
    text-shadow: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Trade';
}

.google-visualization-table-td google-visualization-table-td-number
{
    font-size: 20px;
}

/******************************  Cobranza *******************************/
#btn-doc,#btn-emp
{
    margin-right: 10px;
    border: none;
    padding: 10px 15px;
    font-family: 'Trade';
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 4px 5px 4px #CCC;
    cursor: pointer;    
}

#btn-doc
{
    background: #F44336;
    color: #FFF;
}

#btn-doc img, #btn-emp img
{
    vertical-align: text-bottom;
    margin-right: 10px;
}

#btn-emp
{
    background: #607D8B;
    color: #FFF;
}